{% extends "main.html" %}

{% block content %}

<h1>Climate Data</h1>

<div class="d-flex justify-content-start flex-wrap">

    {% for weather in weathers %}
    <div class="col-md-4 p-2">
        <div class="card">
            <div class="card-header">
                Temperature: {{ weather.temperature }}
            </div>
            <div>
                <p class="card-text">
                    Date: {{ weather.date }} <br />
                    City: {{ weather.city }} <br />
                    Atmospheric Pressure: {{ weather.atmosphericPressure }} <br />
                    Humidity: {{ weather.humidity }} <br />
                    Weather: {{ weather.weather }}
                </p>
                <div style="display: flex; justify-content: center; align-items: center;">
                    <form method="post" action="/weather/delete/" style="margin-right: 10px;">
                        {% csrf_token %}
                        <input type="hidden" name="additional_field" value="{{ weather.id }}">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                    <a href="{% url 'Weather Update' pk=weather.id %}" class="btn btn-primary">Editar</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>
{% endblock content %}